################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day9/obj/Debug/netcoreapp3.1/Day9.pdb
/Day9/obj/Debug/netcoreapp3.1/Day9.genruntimeconfig.cache
/Day9/obj/Debug/netcoreapp3.1/Day9.dll
/Day9/obj/Debug/netcoreapp3.1/Day9.csproj.FileListAbsolute.txt
/Day9/obj/Debug/netcoreapp3.1/Day9.csproj.CoreCompileInputs.cache
/Day9/obj/Debug/netcoreapp3.1/Day9.csproj.AssemblyReference.cache
/Day9/obj/Debug/netcoreapp3.1/apphost.exe
/Day9/bin/Debug/netcoreapp3.1/Day9.runtimeconfig.json
/Day9/bin/Debug/netcoreapp3.1/Day9.runtimeconfig.dev.json
/Day9/bin/Debug/netcoreapp3.1/Day9.pdb
/Day9/bin/Debug/netcoreapp3.1/Day9.exe
/Day9/bin/Debug/netcoreapp3.1/Day9.dll
/Day9/bin/Debug/netcoreapp3.1/Day9.deps.json
