################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day9/obj/Debug/netcoreapp3.1/Day9.pdb
